@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    background-color: #22222E;
  }